pkgbase = c++utilities
	pkgdesc = Common C++ classes and routines such as argument parser, IO and conversion utilities
	pkgver = 5.24.8
	pkgrel = 1
	url = https://github.com/Martchus/cpp-utilities
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL
	checkdepends = cppunit
	makedepends = cmake
	makedepends = ninja
	depends = gcc-libs
	optdepends = c++utilities-doc: API documentation
	provides = libc++utilities.so
	source = c++utilities-5.24.8.tar.gz::https://github.com/Martchus/cpp-utilities/archive/v5.24.8.tar.gz
	sha256sums = 2175b45a53f5c71bb022aea1409535a82b115ce76dbcc5123b3be39f8557858a

pkgname = c++utilities
